.Container{
  width: 100%;
  background-color: hsl(0, 0%,5%);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  box-shadow: 1px 2px 2px 1px hsl(0, 0%, 40%);
}